body {
    width: 90%;
}
h1{
    margin: 50px;
    font-size: 35px ;
    font-weight: 900;
    text-align: center;


}
img {
    position: relative;
    left:100px ;
width: 30%;
padding: 10px;
height: 300px;
border: 2px yellow;

}
#result {
    text-align:justify;
    font-size: larger;
    
}

label {

}


footer {
    margin: 50px;
    font-size: 25px ;
    font-weight: 900;
    text-align: center;


}

body {

background-color: rgb(207, 220, 231);

}


li {
text-align: center;

    font-family: 'Lobster', cursive;
    position: relative;
    top: 80px;
}

form {

    font-weight: bold;
}

#btn {

font-size: larger;
position: relative;
left: 50%;
top:50px;


}
#myChart {

    position: relative;
    top: 190px;
}