body {
    width: 90%;
}
h1{
    margin: 50px;
    font-size: 35px ;
    font-weight: 900;
    text-align: center;


}
img {
    position: relative;
    left:100px ;
width: 30%;
padding: 10px;

}
#result {
    text-align:justify;
    font-size: larger;
    
}




















footer {
    margin: 50px;
    font-size: 25px ;
    font-weight: 900;
    text-align: center;


}